<form [formGroup]="form">
  <div *ngIf="formOpen">
    <div class="new-drill-form" [class.visible]="formOpen">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput formControlName="description" placeholder="Description" matTextareaAutosize
                  matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <button mat-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Create</button>
    </div>
  </div>
</form>
