header {
    flex: 0 0 50px;
    display: flex;
    padding: 0 10px;
    background-color: #FFF;
    .mdi {
        font-size: 36px;
        line-height: 50px;
    }
}

.content {
    flex: 1 100%;
    overflow-y: auto;
}

nav {
    flex: 0 0 60px;
    display: flex;
    background-color: #FFF;
    a {
        flex-grow: 1;
        line-height: 60px;
        text-align: center;
        &.active {
            color: blue;
        }
    }
}
