header {
    flex: 0 0 50px;
    display: flex;
    padding: 0 10px;
    .mdi {
        font-size: 36px;
        line-height: 50px;
    }
}

.content {
    flex: 1 100%;
}

nav {
    flex: 0 0 60px;
    display: flex;
    a {
        flex-grow: 1;
    }
}
