.content {
  flex: 1 100%;
}

nav {
  flex: 0 0 60px;

  display: flex;

  a {
    flex-grow: 1;
  }
}

header {
  flex: 0 0 50px;
  display:flex;

  .profile-icon {
    width: 40px;
    height: 40px;
    background-color: blue;
  }
}
