<form [formGroup]="form">
  <mat-form-field class="example-full-width">
    <input matInput formControlName="title" placeholder="Title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput formControlName="description" placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <section class="aspects">
    <!-- <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox> -->
  </section>

  <button mat-button (click)="submit()">Create</button>
</form>
